{% extends "base.html" %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{% include "users/profile.html" %}
				{% include "users/teams.html" %}
			</div>

			<div class="col-md-8">
				{% include "users/historic.html" %}
				{% include "users/skills.html" %}
				{% include "users/recentlySolved.html" %}
				{% include "problems/uri.html" %}
				{% include "problems/uva.html" %}
				{% include "problems/spoj.html" %}
			</div>
		</div>	
	</div>
{% endblock container %}

{% block scripts %}
	<script src="/static/assets/js/skills-chart.js"></script>
	<script src="/static/assets/js/problems.js"></script>
	<script src="/static/assets/js/countUp.js"></script>
	<script src="/static/assets/js/users.js"></script>
{% endblock scripts %}