{% extends "base.html" %}
{% load humanize %}

{% block title %}
	Problem
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>
							<a href="{{ problem.getJudgeLink }}" target="_blank">
								{% if problem.judge == 'uva' %}
									{{problem.judge | upper}} {{problem.number}} - {{problem.name}}
								{% else %}
									{{problem.judge | upper}} {{problem.code}} - {{problem.name}}
								{% endif %}
							</a>
						</h5>
					</div>
					<table class="table text-center table-fix-1">
						<thead>
							<tr>
								<th>User ({{ solutions | length }})</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							{% for s in  solutions %}
								<tr>
									<td>
										<a href="/users/profile/{{ s.profile.id }}">{{ s.profile.name }}</a>
									</td>
									<td>{{ s.date }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}