{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 animated fadeIn">
				{% include "home/group.html" %}
				{% include "home/events.html" %}
				{% include "home/trends.html" %}
			</div>
			<div class="col-md-8">
				{% include "home/historic.html" %}
				{% include "home/recentlySolved.html" %}
			</div>
		</div>	
	</div>
{% endblock container %}

{% block scripts %}
	<script src="/static/assets/js/charts/historic.js"></script>
	<script src="/static/assets/js/countUp.js"></script>
	<script src="/static/assets/js/home.js"></script>
	<script src="/static/assets/js/events.js"></script>
{% endblock scripts %}

/home/saulo/dev/projects/bang/bang/static/assets/js