{% extends "base.html" %}

{% block title %}
    Política de privacidade
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Política de privacidade</h5>
					</div>
					<div class="panel-body">
                        <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva
                            e agradável possível.</p>
                        <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Bang.</p>
                        <p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Bang serão tratadas em concordância
                            com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
                        <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento
                            e/ou outros.</p>
                        <p>O uso do Bang pressupõe a aceitação deste Acordo de privacidade. A equipe do Bang reserva-se ao direito de alterar este acordo
                            sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar
                            sempre atualizado.</p>
                        <h4>Ligações a Sites de terceiros</h4>
                        <p>O Bang possui ligações para outros sites, os quais, a nosso ver, podem conter informações/ferramentas úteis para os nossos
                            visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir
                            do nosso deverá ler a politica de privacidade do mesmo.</p>
                        <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
					</div>
				</div>
			</div>
	</div>
{% endblock container %}