{% extends "base.html" %}

{% block title %}
	Settings
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>Settings</h5>
				</div>
				<div class="panel-body">
					{% include "settings/judges.html" %}
					{% include "settings/team-invite.html" %}
					
					<h3>Delete Account</h3>
					<hr>
					<button class="btn btn-danger">Delete my account</button>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}

{% block scripts %}
	<script src="/static/assets/js/settings.js"></script>
{% endblock scripts %}