{% extends "base.html" %}

{% block title %}
	New Contest
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Contest</h5>
					</div>
					<div class="panel-body">
						<div class="row">
							<form action="/contests/edit/{{ contest.id }}/" method="POST" id="contestForm" class="form-horizontal">
								{% csrf_token %}
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-xs-4 control-label">Contest Name</label>
										<div class="col-xs-8">
											<input type="text" autocomplete="off" class="form-control" placeholder="My Contest" name="name" value="{{ contest.name }}" required autofocus>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Date</label>
										<div class="col-xs-8">
											<input type="text" class="form-control" name="date" placeholder="MM/DD/YYYY" maxlength="10" value="{{ contest.date | date:"m/d/Y"}}" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Time</label>
										<div class="col-xs-8">
											<input type="text" class="form-control" name="time" value="{{ contest.date | date:"H:i"}}" placeholder="23:59" maxlength="5" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Duration</label>
										<div class="col-xs-8">
											<input type="number" class="form-control" placeholder="120" name="duration" min=0 value="{{ contest.duration }}" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Type</label>
										<div class="col-xs-8">											
											<div class="radio">
												 <label class="col-xs-6">
												 	<input type="radio" name="team" value="0" {% if not contest.team %} checked {% endif %}>
												 	Individual
												 </label>
												 <label class="col-xs-6">
												 	<input type="radio" name="team" value="1" {% if contest.team %} checked {% endif %}>
												 	Team
												 </label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-4 control-label">Judge</label>
										<div class="col-xs-8">											
											<div class="radio">
												 <label class="col-xs-3">
												 	<input type="radio" name="judge" value="all" {% if contest.judge == 'all' %} checked {% endif %}>
												 	All
												 </label>
												 <label class="col-xs-3">
												 	<input type="radio" name="judge" value="uri" {% if contest.judge == 'uri' %} checked {% endif %}>
												 	URI
												 </label>
												 <label class="col-xs-3">
												 	<input type="radio" name="judge" value="uva" {% if contest.judge == 'uva' %} checked {% endif %}>
												 	UVa
												 </label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="B" value='{{ contest.B }}' min=0 required>
											</div>
											Beginner
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="A" value='{{ contest.A }}' min=0 required>
											</div>
											Ad-Hoc
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="S" value='{{ contest.S }}' min=0 required>
											</div>
											Strings
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="D" value='{{ contest.D }}' min=0 required>
											</div>
											Data Structures and Libraries
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="M" value='{{ contest.M }}' min=0 required>
											</div>
											Mathematics
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="P" value='{{ contest.P }}' min=0 required>
											</div>
											Paradigms
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="G" value='{{ contest.G }}' min=0 required>
											</div>
											Graph
										</li>
										<li class="list-group-item">
											<div class="btn-group btn-group-xs pull-right" role="group" >
												<input type="number" class="btn btn-default category" name="C" value='{{ contest.C }}' min=0 required>
											</div>
											Computational Geometry
										</li>
									</ul>
								</div>
								<div class="form-group">
								    <div class="col-xs-offset-2 col-xs-4">
									    <a href="/contests/delete/{{ contest.id }}" class="btn btn-danger btn-block" >Delete</a>
								    </div>
								    <div class="col-xs-4">
								      <button type="submit" class="btn btn-default btn-block">Save</button>
								    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}