{% extends "base.html" %}

{% load humanize %}

{% block title %}
	Contest
{% endblock title %}

{% block container %}
	<script>
		var duration = {{ contest.duration }} * 60000;
		var startTime = new Date("{{ contest.date.timestamp }}" * 1000);
		var endTime = new Date(startTime.getTime() + duration)
		var now = new Date()
		var status;

		if(now < startTime){
			status = 'waiting';
			duration = (startTime - now) / 1000;
		}
		else if(now > endTime)
			status = 'ended';
		else{
			status = 'running';
			duration = (endTime - now) / 1000;
		}

		function startTimer(duration, display) {
		    var hours, minutes, seconds;
		    var setIntervalID = setInterval(function () {
		        hours   = parseInt(duration / 3600, 10)
		        minutes = parseInt((duration % 3600) / 60, 10)
		        seconds = parseInt((duration % 3600) % 60, 10);

		        hours   = hours > 0 ? hours + ":" : "";
		        minutes = minutes < 10 ? "0" + minutes : minutes;
		        seconds = seconds < 10 ? "0" + seconds : seconds;

		        display.textContent = hours + minutes + ":" + seconds;

		        if (--duration < 0) {
		            duration = 0;
		            clearInterval(setIntervalID);
		            location.reload();
		        }
		    }, 1000);
		}

		window.onload = function () {
		    var display = document.querySelector('#time');
		    if(status == 'waiting' || status == 'running')
		    	startTimer(duration, display);
		};
	</script>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="btn-group pull-right">
							{% if contest.owner == user.profile and contest.getStatus != 'ended' %}
						    	<a href="/contests/edit/{{ contest.id }}" class="btn btn-default">Edit</a>
							{% endif %}

						{% if contest.getStatus != 'ended' %}
					    	{% if user.profile in contest.profiles.all and contest.getStatus == 'waiting' %}
					    		<a href="/contests/leave/{{ contest.id }}" class="btn btn-default">Leave</a>
					    	{% elif contest.getStatus == 'waiting' %}
					    		<a href="/contests/join/{{ contest.id }}" class="btn btn-default">Join</a>
					    	{% endif %}
						{% endif %}
						</div>

						<h5>{{ contest.name }}</h5>
					</div>
					<div class="panel-body">
						<dl class="dl-horizontal dl-fix pull-left">
							<dt>Owner:</dt>
							<dd><a href="/users/profile/{{ contest.owner.id }}">{{ contest.owner.name }}</a></dd>
							<dt>Starts:</dt>
							<dd>{{ contest.date }}</dd>
							<dt>Duration:</dt>
							<dd>{{ contest.duration }} minutes</dd>
						</dl>
							<div class="thumbnail thumbnail-fix text-center pull-right">
								{% if contest.getStatus == 'waiting' %}
									<span>Starts in</span>
								{% elif contest.getStatus == 'running' %}
									<span>Ends in</span>
								{% else %}
									<span>Ended</span>
								{% endif %}
									<h4 id="time">00:00</h4>
							</div>
						<!-- {# <div class="thumbnail thumbnail-fix pull-right"> #} -->
						<!-- {# </div> #} -->
					</div>
					<div class="table-responsive">
						<table class="table table-fix">
							<thead>
								<tr>
									<th>#</th>
									{% if contest.team %}
										<th>Team</th>
									{% else %}
										<th>User</th>
									{% endif %}
									<th>Solved</th>
									<th>Time</th>
									{% for problem in problems %}
										{% if contest.getStatus == 'waiting' %}
											<th title="URI 0000 - Comming">
											<a target="_blank" href="#">????</a>
										</th>
										{% else %}
										<th title="{{ problem.judge | upper }} {{ problem.code }} - {{ problem.name }}">
											<a target="_blank" href="{{ problem.getJudgeLink }}">{{ problem.code }}</a>
										</th>
										{% endif %}
									{% endfor %}
								</tr>
							</thead>
							<tbody>

								{% for score in scores %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>
											{% if contest.team %}
												<a href="/teams/{{ score.team.id }}">{{ score.team.name }}</a>
											{% else %}
												<a href="/users/profile/{{ score.profile.id }}">{{ score.profile.name }}</a>
											{% endif %}
										</td>
										<td>{{ score.solved }}</td>
										<td>{{ score.time }}</td>
										{% for solution in score.solutions %}
											<td>{{ solution }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}