{% extends "base.html" %}

{% block title %}
	Contests
{% endblock title %}

{% block container %}
<div class="container animated fadeIn">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/contests/new" class="btn btn-default pull-right">New Contest</a>
					<h5>Contests</h5>
				</div>
				<div class="panel-body text-center">
					<div class="row">
						{% for c in contests %}
							<div class="col-xs-12 col-sm-6 col-md-4">
								<a href="/contests/{{ c.contest.id }}" class="thumbnail contests-card">
									<h3 title="{{ c.contest.name }}">{{ c.contest.name }}</h3>
									<div class="contests-info">
										<div title="Users">
											<span class="pe-7s-users"></span><b>{{ c.num_profiles }}</b><i>|</i>
										</div>
										<div title="Problems">
											<span class="pe-7s-flag"></span><b>{{ c.num_problems }}</b><i>|</i>
										</div>
										<div title="Duration">
											<span class="pe-7s-clock"></span><b>{{ c.duration }}</b>
										</div>
									</div>
									<span class="{{ c.contest.getStatus }}"></span>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock container %}