{% extends "base.html" %}

{% block title %}
	About
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>About</h5>
					</div>
					<div class="panel-body">
						Competitive programming management system developed as a project of scientific initiation by the student Saulo Antunes Silva under the guidance of Prof. Sandro Renato Dias, CEFET-MG.
					</div>
				</div>
			</div>
	</div>
{% endblock container %}