<div class="panel panel-default">
	<div class="panel-heading">
		<h5>Group</h5>
	</div>
	<div class="panel-body">
		<div class="perfil">
			<img src="https://www.wizzvps.com/images/linux-icon.png" class="img-circle">
			<h3>GCC<br><small>Belo Horizonte</small></h3>
			<hr>
		</div>
		<div class="row perfil">
			<div class="col-xs-4">
				<a href="#">
					<strong>{{ group.uri }}</strong>
					<span>URI</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#">
					<strong>{{ group.uva }}</strong>
					<span>UVA</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#">
					<strong>{{ group.spoj }}</strong>
					<span>SPOJ</span>
				</a>
			</div>
		</div>
	</div>
</div>