<script>
	var problems_solved = {{ historic.problems_solved }};
	var days = {{ historic.days | safe }}
</script>

<div class="panel panel-default animated fadeInRight">
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default active">Week</button>
			<button type="button" class="btn btn-default">Month</button>
			<button type="button" class="btn btn-default">Year</button>
		</div>
		<h5>Historic</h5>
	</div>
	<div class="panel-body">
		<div id="myChart" class="chart"></div>
	</div>
</div>