<script>
	var problems_solved = {{ historic.problems_solved }};
	var days = {{ historic.days | safe }}
</script>

<div class="panel panel-default animated fadeIn" id="historic-panel"
	{% if profile %}
		data-type="profile" data-id="{{profile.id}}"
	{% elif team %}
		data-type="team" data-id="{{team.id}}"
	{% else %}
		data-type="group" data-id="0"
	{% endif %}
>
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default active" data-period='week'>Week</button>
			<button type="button" class="btn btn-default" data-period='month'>Month</button>
			<button type="button" class="btn btn-default" data-period='year'>Year</button>
		</div>
		<h5>Historic</h5>
	</div>
	<div class="panel-body">
		<div id="historic-chart" class="chart"></div>
	</div>
</div>