{% load humanize %}

<div class="panel panel-default animated fadeInUp">
	<div class="panel-heading">
		<h5>Recently solved</h5>
	</div>
	<table class="table text-center2">
		<thead>
			<tr>
				<th>User</th>
				<th>Problem</th>
				<th>When</th>
			</tr>
		</thead>
		<tbody>
			{% for solution in recentlySolved %}
				<tr>
					<td><a href="/users/profile/{{ solution.profile.id }}">{{ solution.profile.name }}</a></td>
					<td><a href="/problems/{{ solution.problem.id }}">{{ solution.problem.judge | upper }} {{ solution.problem.code }} - {{ solution.problem.name }}</a></td>
					<td>{{ solution.date | naturaltime }}</td>
				</tr>	
			{% endfor %}
		</tbody>
	</table>
</div>