{% extends "base.html" %}

{% block title %}
	AAMAS
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>GTA</h5>
					</div>
					<div class="panel-body">
						<h5>Demo</h5>
						<a href="#">A new solution to the traffic managing system for autonomous vehicles</a>

						<br>
						<br>

						<h5>Video demonstration</h5>
						<div class="embed-responsive embed-responsive-16by9">
							<video src="/static/video/gta-demo.mp4" controls></video>
						</div>
						<!-- <div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tVO2cy6NdT8" frameborder="0" allowfullscreen></iframe>
						</div> -->
					</div>
				</div>
			</div>
	</div>
{% endblock container %}