/*card participantes*/
.card:link{
	text-decoration: none;
}

.card {
	position: relative;
}

.card > img {
	width: 58px;
	height: 58px;
	margin-left: 6px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.card > div {
	margin-left: 74px;
}

.card > div > h4{
	color: #333;
	font-weight: 500;
	margin-bottom: 5px;
}

.card > div > h5{
	color: #555;
	margin-top: 0;
	margin-bottom: 5px;
}

.card > div > h6{
	color: #555;
	margin-top: 0;
}

/*fim card participantes*/


/*inicio perfil*/
.perfil{
	text-align: center;
}

.perfil > img {
	height: 140px;
}

.perfil > a{
	text-decoration: none;
}

.perfil a:link{
	text-decoration: none;
}

.perfil strong{
	display: block;
}

.perfil span{
	color: #767676;
}

.perfil-time a{
	text-decoration: none;
}

.perfil-time img{
	display: block;
	width: 58px;
	text-align: center;
}

.perfil-time span{
	color: #767676;
	display: block;
	text-align: center;
}
/*fim perfil*/

/*inicio contests*/
.contests-card > div{
	display: block;
	margin-bottom: 15px
}

.contests-card b{
	margin-left: 4px;
	margin-right: 4px;
	font-weight: normal;
}

.contests-card i{
	color: #CCC;
	vertical-align: 2px;
}
/*fim contests*/

/*inicio users-user-chart*/
.chart{
	width: 100%;
	height:200px;
}
/*fim users-user-chart*/

/*inicio ranking*/
.table-fix, th{
	text-align: center; 
}

.table-fix td:nth-child(2), .table-fix th:nth-child(2) {
	text-align: left;
}

.select-fix {
	font-size: 14px;
	padding: 6px 12px;
}
/*fim ranking*/

/*inicio home*/
.event {
	position: relative;
}
.event > .glyphicon {
	position: absolute;
	margin-top: -14px;
	top: 50%;
}

.event > .glyphicon-menu-left {
	float: left;
	left: 0;
}

.event > .glyphicon-menu-right {
	float: right;
	right: 0;
}

.event-date {
	border: 1px solid #ddd;
    display: inline-block;
    margin-top: 10px;
}

.event-date h1{
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.event-date b {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	display: block;
	width: 100%;
}
/*fim home*/