<div class="panel panel-default" id="uri">
	<div class="panel-heading">
		<input type="text" class="pull-right" placeholder="search" style="margin-top: 2px; padding-left: 8px; border: 1px solid #ddd; border-radius: 3px; outline: none; height: 30px">
		<h5>URI</h5>
	</div>
	<div class="panel-body">
		{% if not uri %}
			No problems yet.
		{% endif %}
		<ul class="list-inline">
			{% for p in uri %}
				<li>
					<a href="/problems/{{ p.problem.id }}" title="{{ p.problem.name }}">{{ p.problem.code }}</a>
				</li>	
			{% endfor %}
	</div>
</div>