{% extends "base.html" %}

{% block title %}
	Ranking
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--<select class="select-fix pull-right">
							<option>User</option>
							<option>Team</option>
						</select> -->
						<h5>Ranking</h5>
					</div>
					<div class="table-responsive">
						<table class="table table-hover table-fix">
							<thead>
								<tr>
									<th>#</th>
									<th><a href="/ranking/name">Name</a></th>
									<th><a href="/ranking/uri">URI</a></th>
									<th><a href="/ranking/uva">UVA</a></th>
									<th><a href="/ranking/spoj">SPOJ</a></th>
									<th title="The total of problems solved"><a href="/ranking/total">Total</a></th>
									<th title="The sum of levels of the problems solved"><a href="/ranking/score">Score</a></th>
									<!--<th class="glyphicon glyphicon-sort"></th>-->
								</tr>
							</thead>
							<tbody>
								{% for p in profiles %}
								<tr>
									<th>{{ forloop.counter }}</th>
									<td><a href="/users/profile/{{ p.profile.id }}">{{ p.profile.name }}</a></td>
									<td>{{ p.uri }}</td>
									<td>{{ p.uva }}</td>
									<td>{{ p.spoj }}</td>
									<td>{{ p.total }}</td>
									<td>{{ p.score }}</td>
									<!--<th style="color: #1bc98e">+1</th>-->
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}