<button 
	ng-if="isContestStatus('waiting')"
	type="button" class="btn btn-default center-block" ng-click="createContest(categories,users)">
		Create Contest
</button>

<div ng-if='isContestStatus("loading")' class="progress fixProgressBar">
	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">Loading</span>
  </div>
</div>

<table ng-if="isContestStatus('done')" class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="problem in problems">
			<td>{{problem.problemId}}</td>
			<td>{{problem.name}}</td>
		</tr>
	</tbody>
</table>