{% if teams %}
	<h3>Teams</h3>
	<hr>
{% endif %}

{% for team in teams %}
	<div class="row">
		<form action="/settings/" method="POST">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ team.id }}">
			<div class="form-group col-sm-3">
				<label>Team Name</label>
				<input type="text" class="form-control" name="name" placeholder="My Team Name" value="{{ team.name }}">
			</div>

			<div class="form-group col-sm-3">
				<label>User</label>
				<select name="profile-id" class="form-control">
					<option selected value=""></option>
					{% for p in profiles %}
						{% if p == team.profiles.0 %}
							<option selected value="{{ p.id }}">{{ p.name }}</option>
						{% elif p == team.invites.1.profile %}
							<option selected value="{{ p.id }}">{{ p.name }} (invited)</option>
						{% else %}
							<option value="{{ p.id }}">{{ p.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="form-group col-sm-3">
				<label>User</label>
				<select name="profile-id" class="form-control">
					<option selected value=""></option>
					{% for p in profiles %}
						{% if p == team.profiles.1 %}
							<option selected value="{{ p.id }}">{{ p.name }}</option>
						{% elif p == team.invites.0.profile %}
							<option selected value="{{ p.id }}">{{ p.name }} (invited)</option>
						{% else %}
							<option value="{{ p.id }}">{{ p.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="col-sm-3">
				<br>
				<button type="submit" class="btn btn-default btn-form-fix" name="team-leave">Leave</button>
				<button type="submit" class="btn btn-default btn-form-fix" name="team-update">Save</button>
			</div>
		</form>
	</div>
{% endfor %}