<div class="row">
	<div class="form-group col-sm-3">
		<label>Team Name</label>
		<input type="text" class="form-control" name="new-team-name" placeholder="My Team Name">
	</div>

	<div class="form-group col-sm-3">
		<label>User</label>
		<select name="new-profile-1" class="form-control">
			<option selected value="">Select the user</option>
			{% for p in profiles %}
				{% if p != profile %}
					<option value="{{ p.id }}">{{ p.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	
	<div class="form-group col-sm-3">
		<label>User</label>
		<select name="new-profile-2" class="form-control">
			<option selected value="">Select the user</option>
			{% for p in profiles %}
				{% if p != profile %}
					<option value="{{ p.id }}">{{ p.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>

	<div class="col-sm-3" style="margin-top:5px">
		<br>
		<input type="submit" class="btn btn-default" name="new-team" value="Create">
	</div>
</div>